{% block content %}
{% load static %}
<style>
    .landing {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 75vw;
        margin-top: 15vw
    }
    body {
        max-height: 100vh;
        background: linear-gradient(to bottom, #5BC6FC, #3898C8);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: white;
    }
    h1 {
        font-size: 15vw;
        margin-top: 0px;
    }
    button {
        width: 50vw;
        border-radius: 15px;
        height: 12vw;
        border: none;
        font-weight: 550;
        font-size: 6vw;
        color: #0d4b6a;
    }
    button:active {
        background-color: rgb(219, 219, 219);
    }
        
</style>

<div class="landing">
    <img src="{% static 'Logo.PNG' %}" alt="Meetups Logo">
    
    <h1>Meetups</h1>
    <a href="/contact"><button>Get Started</button></a>
</div>

{% endblock %}