{% extends 'base.html' %}

<!--
contact page.
inlcudes a link back to the index page.
-->

{% block content %}
<style>
    .contactpage {
        background-color: white;
        filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        height: 40px;
    }
    p {
        margin-left: 10px;
        margin-right: 10px;
    }
</style>


<h1>Welcome to Meetups!</h1>
<p>In this app, you can log that you've met up with a friend once it's confirmed that you are both in the same location.</p>
<p>You can start by registering a new account, or logging in to an existing one.</p>
<p>Then... idk</p>
{% endblock %}