{% extends 'base.html' %}

<!--
page for creating an account.
content in forms.py
will probably keep this mostly the same.
only visible when not logged in
-->

{%  block content %}
<style>
    .registerpage {
        background-color: white;
        filter: drop-shadow(0px 1px 12px rgba(0, 0, 0, 0.25));
        border-radius: 20px;
        height: 40px;
        width: 30%;
    }
</style>

    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">SUBMIT</button>
    </form>
{%  endblock %}